<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ht.module1">

    <application android:name="com.ht.module1.Module2Application">
        <activity android:name="com.ht.module1.Module2Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
